<h1 class="ui header">
  <i aria-hidden="true" class="drivers license outline icon"></i> My Profile
</h1>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">

  <div>
    <label for="height">
      You height in cm
    </label>
    <input id="height" type="number" class="form-control" formControlName="height">
  </div>

  <div>
    <label for="birthDate">
      Your birth date
    </label>
    <input id="birthDate" type="date" class="form-control" formControlName="birthDate">
  </div>


  <button class="button" type="submit" class="btn btn-primary">{{ buttonMessage }}</button>

</form>
