
      <h1 class="ui header">
        <i aria-hidden="true" class="drivers license outline icon"></i> My Profile
      </h1>


<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-6">

      <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">

        <div>
          <label for="height">
            You height in cm
          </label>
          <input id="height" type="number" class="form-control" formControlName="height">
          <div *ngIf="f.height.invalid && (f.height.dirty || f.height.touched)" class="alert alert-danger">
            <div *ngIf="f.height.errors.required">
              Height is required.
            </div>
            <div *ngIf="f.height.errors.min">
              Min height is 20cm.
            </div>
            <div *ngIf="f.height.errors.max">
              Max height is 300cm.
            </div>
          </div>
        </div>

        <div>
          <label for="birthDate">
            Your birth date
          </label>
          <input id="birthDate" type="date" class="form-control" formControlName="birthDate">
          <div *ngIf="f.birthDate.invalid && (f.birthDate.dirty || f.birthDate.touched)" class="alert alert-danger">
            <div *ngIf="f.birthDate.errors.required">
              Birth date is required.
            </div>
            <div *ngIf="f.birthDate.errors.maxDate">
              Max birth date is today.
            </div>
            <div *ngIf="f.birthDate.errors.minDate">
              Min birth date for is 135 years ago.
            </div>
          </div>
        </div>

        <button class="button" type="submit" [disabled]="profileForm.invalid" class="btn btn-primary">{{ buttonMessage }}</button>

      </form>
    </div>
  </div>
</div>
