<h1 class="ui header">
  <i aria-hidden="true" class="universal access icon"></i> My bodyinfo
</h1>
<div *ngIf="failed" class="ui error message">
  <div class="content">
    <div class="header">
      Failed to fetch body info.
    </div>
  </div>
</div>

<div>
  <div style="display: block" *ngIf="chartData">
    <canvas baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="chartLegend"
            [chartType]="chartType"
            [options]="options">
    </canvas>
  </div>
</div>

<div *ngIf="!bodyInfo">
  Please update your profile first.
</div>

<div *ngIf="bodyInfo">
  <p>Height: {{bodyInfo.height}}</p>
  <form [formGroup]="measurementForm" (ngSubmit)="onSubmit(measurementForm.value)">

    <div>
      <label for="weight">
        Weight
      </label>
      <input id="weight" type="number" class="form-control" formControlName="weight">
    </div>

    <div>
      <label for="measuredOn">
        Measurement Date
      </label>
      <input id="measuredOn" type="date" class="form-control" formControlName="measuredOn">
    </div>


    <button class="button" type="submit" class="btn btn-primary">Add Measurement</button>

  </form>
</div>
